<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      autoReload="true"
      internalLogFile="${basedir}/Logs/ConsoleInternal.log"
      internalLogLevel="Info"
      internalLogToConsole="true" >

  <targets async = "false">

    <target xsi:type="File" name="WEF_LogsToFile"
            fileName="${basedir}/Logs/WEF.log"
            layout="${date} | ${level:uppercase=true} | ${message}${onexception:${newline}   EXCEPTION\: ${exception:format=ToString}}"
            archiveAboveSize="1048576"
            archiveFileName="${basedir}/Logs/Archives/WEF.{#####}.log"
            archiveNumbering="Rolling"
    />
    <target xsi:type="File" name="ServiceInfoLogsToFile"
            fileName="${basedir}/Logs/ServiceInfo.log"
            layout="${date} | ${level:uppercase=true} | ${message}${onexception:${newline}   EXCEPTION\: ${exception:format=ToString}}"
            archiveAboveSize="1048576"
            archiveFileName="${basedir}/Logs/Archives/ServiceInfo.{#####}.log"
            archiveNumbering="Rolling"
    />
    <target xsi:type="ColoredConsole" name="LogToConsole"
            layout="${date} | ${level:uppercase=true} | ${message}${onexception:${newline}   EXCEPTION\: ${exception:format=ToString}}"
            useDefaultRowHighlightingRules="false"
            encoding="unicode"
            errorStream="true">
      <highlight-row backgroundColor="DarkGray" condition="level == LogLevel.Trace" foregroundColor="Black"/>
      <highlight-row backgroundColor="Gray" condition="level == LogLevel.Debug" foregroundColor="Black"/>
      <highlight-row backgroundColor="White" condition="level == LogLevel.Info" foregroundColor="Black"/>
      <highlight-row backgroundColor="Yellow" condition="level == LogLevel.Warn" foregroundColor="Black"/>
      <highlight-row backgroundColor="Red" condition="level == LogLevel.Error" foregroundColor="Black"/>
      <highlight-row backgroundColor="Magenta" condition="level == LogLevel.Fatal" foregroundColor="Black"/>
    </target>


  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Warn" writeTo="WEF_LogsToFile" />
    <logger name="*" minlevel="Trace" writeTo="LogToConsole" />
    <logger name="*" minlevel="Info" maxlevel ="Info" writeTo="ServiceInfoLogsToFile" />

  </rules>
</nlog>